on early-init
    start ueventd

on init
# setup the global environment   
    export PATH /sbin:/system/bin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs

on emmc-fs
    wait /dev/block/mmcblk0p17
    mount ext4 /dev/block/mmcblk0p17 /system ro barrier=1

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service console /system/bin/sh
    console
    user shell
    group log

service chgonly /system/bin/chgonly
    oneshot

service adbd /sbin/adbd


#on property:persist.service.adb.enable=1
#    start adbd

#on property:persist.service.adb.enable=0
#    stop adbd
