/dev/adsp               0660    system      audio
/dev/block/mmcblk0        0440   system     system
/dev/block/mmcblk0p19     0660   system     system
/dev/block/mmcblk0p20     0660   system     system
/dev/block/mmcblk0p21     0660   system     system
/dev/block/mmcblk0p5      0666   root       root
/dev/cklc                 0666   system     system
/dev/gemini0              0660   system     system
/dev/genlock              0666    root        root
/dev/i2c-2                0664   root       system
/dev/i2c-4                0664   root       system
/dev/ion                  0664    system      system
/dev/kgsl-2d0             0666   root       root
/dev/kgsl-2d1             0666   root       root
/dev/kgsl-3d0             0666   root       root
/dev/mdm                  0660   system     system
/dev/mpu                  0664    system      system
/dev/mpuirq               0664    system      system
/dev/msm_a2dp_in          0640  system       audio
/dev/msm_adc              0660  system       audio
/dev/msm_aac              0660  system       audio
/dev/msm_aac_in           0660  system       audio
/dev/msm_acdb             0660  system       audio
/dev/msm_amrnb            0660  system       audio
/dev/msm_amrnb_in         0640  system       audio
/dev/msm_amrwb            0660  system       audio
/dev/msm_evrc             0660  system       audio
/dev/msm_audio_dev_ctrl   0660  system       audio
/dev/msm_lpa_if_out       0660  system       audio
/dev/msm_evrc_in          0660  system       audio
/dev/msm_fm               0660  system       audio
/dev/msm_mvs               0660  system       audio
/dev/msm_hw3dc            0666   root       root
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/msm_preproc_ctl      0660  system       audio
/dev/msm_qcelp            0660  system       audio
/dev/msm_qcelp_in         0660  system       audio
/dev/msm_rotator          0660   system     graphics
/dev/msm_rtac             0660  system       audio
/dev/msm_vidc_dec         0660  system       audio
/dev/msm_vidc_enc         0660  system       audio
/dev/msm_vidc_reg         0660  system       audio
/dev/msm_voicememo        0660   system     audio
/dev/msm_wma              0660  system       audio
/dev/msm_wmapro           0660  system       audio
/dev/null                 0666   root       root
/dev/oncrpc               0777   radio      system
/dev/oncrpc/*             0777   radio      system
#/dev/oncrpc/*             0777   root       qcom_oncrpc
/dev/pmem_smipool*        0660   system     camera
/dev/pmem_audio           0660   system     audio
/dev/pmem_adsp            0660   system     audio
/dev/ppp                  0660   radio      vpn
/dev/ptmx                 0666   root       root
/dev/q6venc               0660   system     audio
/dev/qce                  0660   system     audio
/dev/qemu_trace           0666   system     system
/dev/qmi0                 0640   radio      radio
/dev/qmi                  0640   radio      radio
/dev/qmi1                 0640   radio      radio
/dev/qmi2                 0640   radio      radio
/dev/radio0               0644   fm_radio   fm_radio
/dev/rfkill               0660  root         wifi
/dev/rmnet_ctrl           0640   radio      radio
/dev/rmt_storage          0640   root       root
/dev/sdioctl0             0640   radio      radio
/dev/sdioctl1             0640   radio      radio
/dev/sdioctl2             0640   radio      radio
/dev/sdioctl3             0640   radio      radio
/dev/sdioctl4             0640   radio      radio
/dev/sdioctl4             0640   radio      radio
/dev/sdioctl5             0640   radio      radio
/dev/sdioctl6             0640   radio      radio
/dev/sdioctl7             0640   radio      radio
/dev/sdioctl8             0640   radio      radio
/dev/sdio_tty_ciq_00      0660   system     system
/dev/smd0                 0660   system     system
/dev/smd4                 0660   system     system
/dev/smd7                 0640   radio      radio
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/timerirq             0664    system      system
/dev/tty0                 0660   root       system
/dev/tty                  0666   root       root
/dev/ttyHS0               0600   bluetooth  bluetooth
/dev/ttyHSL1              0660   system     system
/dev/tty_sdio_00          0660   system     system
/dev/tzcom                0660   system     audio

